# Config & Tools
typing
typing-extensions
pandas
numpy
seaborn
tqdm
streamlit
streamlit_option_menu
bt
pyyaml
empyrical
loguru
plotly
openai
langchain_community
empyrical
statsmodels
IPython
streamlit-ace
streamlit_aggrid
streamlit_autorefresh
